<h1>These people have helped us provide free<br> computer lessons for the less fortunate kittys out there</h1>

{{#name}}

        {{#if page}}<div><a href="{{page}}">{{first }} {{ last}}</a>    {{ age }}     <a href="/petition/signers/{{city}}">{{city}}</a></div> <br>
        {{else}}<div>{{first}} {{last}} {{ age }} <a href="/petition/signers/{{city}}">{{city}}</a></div> <br>
        {{/if}}





{{/name}}
